<h1>Administradores <a class="btn btn-info" id="botonRotatorio" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/administrador/listar','GET',crearTablaAdministradores)" role="button" style="color:white;"><span class="fa fa-refresh" style="width: 1em;"></span></a></h1>
<div id="tablaDatos">
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th>Acciones</th>
	</tr>
	<tr th:each="administrador:${administradores}" th:if="${usuarioactivo.id!=administrador.id}">
		
			<td th:text="${administrador.nombre}"></td>
			<td th:text="${administrador.email}"></td>
			<td class="acciones">
				<!-- <form action="">
					<input type="text" name="id" hidden="true" th:value="${administrador.id}" />
					<button class="btn btn-info">
          				<span class="fa fa-envelope"></span>
        			</button>
				</form>
				 -->
				<a th:href="${'/mensaje/crear?emaildestinatario='+administrador.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>
				
					<!-- <form th:if="${!usuarioactivo.borrable}" action="/administrador/modificar">
						<input type="text" name="id" hidden="true" th:value="${administrador.id}" />
						<button class="btn btn-info">
          					<span class="fa fa-pencil"></span> 
        				</button>
					</form>
					 -->
					<a th:if="${!usuarioactivo.borrable}" th:href="${'/administrador/modificar?id='+administrador.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
					
					<!-- <form th:if="${!usuarioactivo.borrable}" action="/administrador/borrar" method="post" onsubmit="return confirm('¿Desea borrarlo?')">
						<input type="text" name="id" hidden="true" th:value="${administrador.id}" />
						<button class="btn btn-info">
          					<span class="fa fa-trash"></span>
        				</button>
					</form> -->
					<a th:if="${!usuarioactivo.borrable}" th:href="${'/administrador/borrar?id='+administrador.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
				
			</td>
				
			
		
	</tr>
	<div th:if="${!usuarioactivo.borrable}">
		<tr>
			<td colspan="3">
				<a href="/administrador/crear" class="btn btn-info" role="button" style="color:white;display:block">Crear</a>
			</td>
		</tr>
	</div>
</table>
</div>
<!-- <button class="btn btn-info">
          <span class="fa fa-envelope"></span> Correo 
        </button>
        <button class="btn btn-info">
          <span class="fa fa-pencil"></span> Crear 
        </button>
        <button class="btn btn-info">
          <span class="fa fa-trash"></span> Borrar 
        </button>  -->