<h1>Administradores</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
	<a class="btn btn-info" id="botonRotatorio" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/administrador/listar','GET',crearTablaAdministradores)" role="button" style="color:white;"><span class="fa fa-refresh" style="width: 1em;"></span></a>
	<a th:if="${!usuarioactivo.borrable}" class="btn btn-info" href="/administrador/crear" style="margin-rigth:0px;"><span class="fa fa-plus"></span> Crear</a>
	<input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>


<div id="tablaDatos" class="table-responsive">
<table id="myTable" class="table table-striped">
	<thead>
		<tr>
			<th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a></th>
			<th>Email <a role="button" aria-expanded="true" onclick="sortTable(this,1)" class="fa fa-sort"></a></th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody class="myTable">
	<tr th:each="administrador:${administradores}" th:if="${usuarioactivo.id!=administrador.id}">
		
			<td th:text="${administrador.nombre}"></td>
			<td th:text="${administrador.email}"></td>
			<td class="acciones">
		
				<a th:href="${'/mensaje/crear?emaildestinatario='+administrador.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>
				
					<a th:if="${!usuarioactivo.borrable}" th:href="${'/administrador/modificar?id='+administrador.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
					
					<a th:if="${!usuarioactivo.borrable}" class="btn btn-info" data-toggle="modal" th:href="'#'+${administrador.id}" role="button">
					<span class="fa fa-trash"></span>
					</a> 
					
					<!-- MODAL PARA ELIMINAR ADMINISTRADOR -->
					<div class="modal fade" th:id="${administrador.id}" role="dialog">
						<div class="modal-dialog">
							<form action="/administrador/borrar" method="post" onsubmit="return validar(this)">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">¿Desea borrar este administrador?</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<input type="text" name="id" th:value="${administrador.id}" required="true" hidden="true"/>
									<div class="row">
							            <div class="d-none d-md-block col-md-12 field-label-responsive">
							                <label>Contraseña Actual</label>
							            </div>
							            <div class="col-md-12">
							                <div class="form-group has-danger">
							                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
							                        <input type="password" name="passwordactual" class="form-control"
							                               placeholder="Introduzca su contraseña" required="true"/>
							                       	<input type="password" name="passwordactualhash" hidden="true"/>
							                    </div>
							                </div>
							            </div>
							        </div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-info" >Confirmar</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								</div>
							</div>
							</form>
						</div>
					</div>
			</td>
				
			
		
	</tr>
	</tbody>
</table>
</div>