<footer class="footer" id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                   <a href="#"> <img class="logo" src="/img/logo.png" /> </a>
                </div>
                <div class="col-sm-3">
                    <h5>¿Qué reforma necesitas?</h5>
                    <ul>
                        <li><a href="#">Pintores</a></li>
                        <li><a href="#">Tapiceros</a></li>
                        <li><a href="#">Albañiles</a></li>
                        <li><a href="#">Electricistas</a></li>
                        <li><a href="#">Parquetistas</a></li>
                        <li><a href="#">Carpinteros</a></li>
                        <li><a href="#">Mudanzas</a></li>
                        <li><a href="#">Cerrajeros</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Acerca de nosotros</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Informacion de la compañia</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Registrate</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="https://twitter.com/?lang=es" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://es-es.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/discover?hl=es" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <a href="http://www.google.com" class="btn btn-default" role="button">Contactanos</a>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright</p>
        </div>
    </footer>