<header>
<nav class="navbar navbar-expand-xl " role="navigation">
<div class="container">
    
          <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png" height="75" /></a>

          <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg" id="botonComprimido">
              <span class="navbar-toggler-icon" style="color:blue" id="iconoBoton"></span>
          </button>
   
    <div class="navbar-collapse collapse text-center" id="collapsingNavbarLg">
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item" th:if="${usuarioactivo!=null}">
                <a class="nav-link active d-none d-xl-block" href="/" id="anim-underline" title="HOME"><span class="fa fa-home" style="font-size: 1.8em"></span></a>
                <a class="nav-link active d-block d-xl-none" href="/" id="anim-underline">HOME</a>
            </li>
           

             <li th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle collapsed d-none d-xl-block" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="anim-underline" title="ADMINISTRACIÓN"><span class="fa fa-gear" style="font-size: 1.7em"></span></a>
					<a href="" class="nav-link dropdown-toggle collapsed d-block d-xl-none" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="anim-underline">ADMINISTRACIÓN</a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                          <a class="dropdown-item" href="/administrador/listar">Ver Administradores</a>
                          <a class="dropdown-item" href="/categoria/listar">Ver Categorias</a>
                          <a class="dropdown-item" href="/empleo/listar">Ver Empleos</a>
                          <a class="dropdown-item" href="/cliente/listar">Ver Clientes</a>
                        </div>
             </li>
			
			
            <li>
              <a class="nav-link d-none d-xl-block" id="anim-underline" href="/manitas/listar" title="MANITAS"><i class="fa fa-briefcase" style="font-size: 1.5em"/></a>
              <a class="nav-link d-block d-xl-none" id="anim-underline" href="/manitas/listar" >MANITAS</a>
            </li>
            <li th:if="${usuarioactivo!=null}">
              <a class="nav-link d-none d-xl-block" id="anim-underline" href="/chat/contactos" th:title="${usuarioemails!=null and usuarioemails>0}?'VER CORREOS('+${usuarioemails}+' sin leer)':'VER CORREOS'"><i class="fa fa-envelope" style="font-size: 1.5em"/><div th:if="${usuarioemails!=null and usuarioemails>0}" style="display: inline-table;width: 1.5em;background-color:  red;border-radius: 1em;font-size: 0.75em;margin-left: -0.75em;" th:text="${usuarioemails}"/></a>
              <a class="nav-link d-block d-xl-none" id="anim-underline" href="/chat/contactos" th:title="${usuarioemails!=null and usuarioemails>0}?'VER CORREOS('+${usuarioemails}+' sin leer)':'VER CORREOS'">MENSAJES<div th:if="${usuarioemails!=null and usuarioemails>0}" style="display: inline-table;width: 1.5em;background-color:  red;border-radius: 1em;font-size: 0.75em;margin-left: 0.75em;" th:text="${usuarioemails}"/></a>
            </li>
			<li th:if="${usuarioactivo!=null}" class="nav-item dropdown">
				 
              <a class="nav-link dropdown-toggle collapsed d-none d-xl-block" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="anim-underline" title="PERFIL" href="" ><i class="fa fa-user" style="font-size: 1.5em"/></a>
              <a class="nav-link dropdown-toggle collapsed d-block d-xl-none" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" id="anim-underline" href="" >PERFIL</a>
              
            	 		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                          <a class="nav-link" id="anim-underline" th:href="${'/'+usuarioactivo.getClass().getSimpleName().toLowerCase()+'/modificar'}" title="EDITAR TU USUARIO">EDITAR TU USUARIO</a>
                          <a class="nav-link" id="anim-underline" href="/login/logout" th:text="${usuarioactivo.nombre.toUpperCase()}+' (DESCONECTAR)'" title="DESCONECTAR"><i class="fa fa-sign-out" style="font-size: 1.5em"/></a>
              
                        </div>
            </li>
            
          
            <li th:if="${usuarioactivo==null}">
              <a class="nav-link d-none d-xl-block" id="anim-underline" href="/login/login" title="INICIA SESION"><i class="fa fa-sign-in" style="font-size: 1.5em"/></a>
              <a class="nav-link d-block d-xl-none" id="anim-underline" href="/login/login" >INICIE SESIÓN</a>
            </li>
        </ul>

        
        
    </div>
    </div>
</nav>

</header>