<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script th:src="@{https://maps.googleapis.com/maps/api/js(key='AIzaSyA49iAee5kSTQ-whGT3A77H-PJsK5FzLCk',callback='initialize')}" async="true" defer="true"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sockjs.min.js"></script>
<script src="/js/stomp.min.js"></script>
<script src="/js/sha3.min.js"></script>
<script src="/js/funciones.js"></script>
<script>
	var posicionUsuarioActual="España";
</script>

<script th:if="${usuarioactivo!=null}" th:inline="javascript">
	var mensajesSinLeer=[[${usuarioemails}]];
</script>
<script th:if="${manitas!=null}" th:inline="javascript">
posicionUsuarioActual=
[[${(manitas!=null and !manitas.getClass().getSimpleName().equals('ArrayList') and manitas.direccion!=null and !manitas.direccion.trim().equals(''))?manitas.direccion.substring(1,manitas.direccion.length()-1):'España'}]]
;
</script>
<script th:if="${cliente!=null}" th:inline="javascript">
posicionUsuarioActual=
[[${(cliente!=null and !cliente.getClass().getSimpleName().equals('ArrayList') and cliente.direccion!=null and !cliente.direccion.trim().equals(''))?cliente.direccion.substring(1,cliente.direccion.length()-1):'España'}]]
;
</script>

<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="/css/pruebaChat.css"/>
<link rel="stylesheet" type="text/css" href="/css/nav.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/registro.css"/> -->

<title>Manitas Home</title>

<!--IMAGEN MINIATURA -->
<link rel="shortcut icon" href="/img/logoManitas.png" type="image/ico" />


<!--ENLACE BOOSTRAP VERSION 4.4.0 -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="/css/font-awesome.min.css" />



</head>

<body>
		<div th:replace="views/_t/header"></div>
		<!-- <div th:replace="views/_t/nav"></div> -->
		<div class="index-content">
			<div class="container">
				<div th:replace="${'views/'+view}"></div>
			</div>
		</div>
		<div th:replace="views/_t/footer"></div>
		
		<!-- https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ ejemplo de lo que se quiere -->
</body>

</html>