<div class="acerca">
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center generic-height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<span class="text-white top text-uppercase">Acerca de</span>
								<h1 class="text-white text-uppercase">Manitas Home</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="featured-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-map-marker"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">CERCANÍA</h6>
									<p>Facilitamos el contacto entre el cliente y el empresario mediante un sistema de ubicación.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-bubble"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Sistema de valoración</h6>
									<p>Serán los propios usuarios del sistema los que valoren a los empresarios, creando un ranking objetivo y justo.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Facilidad al contactar</h6>
									<p>La plataforma proporciona un sistema de mensajería inmediato, cómodo y eficaz para poner en contacto a las dos partes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-generic-area">
				<div class="container border-top-generic">
					<h3 class="about-title mb-70">¿Cómo surgió Manitas Home?</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="img-text">
								<img src="/img/logo.png" alt="" class="img-fluid float-left mr-20 mb-20" />
								<p>Manitas Home surge de un proyecto académico realizado por David Pinchete Nebreda, Nacho Sánchez González e Imanol Noguera Del Salto, consistiendo en el desarrollo de una aplicación web que pone en contacto personas que quieren hacer una reforma o reparación con profesionales del sector.
								<br /> 
								Manitas Home es una plataforma que ayuda a los propietarios de viviendas y particulares en todo el proceso de mejora de su hogar. La plataforma permite conectar a los profesionales de las reformas y reparaciones que ofertan sus servicios con los particulares que los demandan. A los particulares les ofrece la posibilidad de publicar gratuitamente una solicitud de presupuesto para que hasta cuatro profesionales de su zona les puedan contactar con su propuesta.</p>
							</div>
						</div>
					
						<div class="col-lg-12">
							<p>
							<h3>¿Qué nos hace diferentes?</h3>
							- Manitas Home proporciona un sistema de valoración interno entre los propios usuarios para generar un sistema de calificación objetivo y justo para la parte contratante.
							<br />
							- Proporciona un sistema de contacto inmediato, seguro y gratis para que las dos partes puedan permanecer en contacto.
							<br />
							- Gracias a nuestro sistema de ubicación, cada profesional del sector podrá atender a la demanda reclamada en la zona que él desee.
							</p></div>
						<div class="col-lg-12">
							<p>
							<h3>Emprendedores, este es vuestro portal:</h3>
							En Manitas Home conocemos de primera mano las dificultades que pueden tener aquellos emprendedores que inician una aventura empresarial y por eso queremos  ayudar a todas las empresas y autónomos relacionados con el sector de la construcción de reciente creación, es decir, con menos de un año desde su constitución para facilitar su entrada en este competitivo mercado.
							<br />
							Proporcionamos un plan de posicionamiento en la plataforma a los nuevos empresarios.
							
							</p></div>
					</div>
				</div>
			</section>
			
			<section class="footer-widget-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-pushpin"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Dirección</h6>
									<p>
									Av. de Irún, s/n, 28830 <br />  San Fernando de Henares, <br /> Madrid</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-earth"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Email</h6>
									<div class="contact">
										<a href="mailto:info@manitashome.tk">info@manitashome.tk</a> <br />
										<a href="mailto:contacto@manitashome.tk">contacto@manitashome.tk</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-phone"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Teléfono</h6>
									<div class="contact">
										<a href="tel:1545">91 563 434 232</a> <br  />
										<a href="tel:54512">91 543 324 424</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

	</div>