<div id="cabeceraCliente">
<h1>Clientes</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
  <a class="btn btn-info" id="botonRotatorio" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/cliente/listar','GET',crearTablaClientes)" role="button" style="color:white;"><span class="fa fa-refresh" style="width: 1em;"></span></a>
  <input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>
</div>
<div id="tablaCliente" class="table-responsive">
<table class="table table-striped">
	<thead>
	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th>Acciones</th>
	</tr>
	</thead>
	<tbody class="myTable">
	<tr th:each="cliente:${clientes}">
		
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.email}"></td>
			<td class="acciones">
				<a th:href="${'/mensaje/crear?emaildestinatario='+cliente.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>
				<a  th:href="${'/cliente/modificar?id='+cliente.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
				<a  th:href="${'/cliente/borrar?id='+cliente.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
			</td>
	</tr>
	</tbody>
</table>
</div>

<script>
$(document).ready(function(){
  $(".form-control.busqueda").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>