<h1>Bandeja de entrada
<a class="btn btn-info" href="/mensaje/crear" style="margin-rigth: 0px;"><span class="fa fa-send"/> Enviar un mensaje</a>
</h1>
<hr/>
<table class="table table-striped">
					
					    <tbody>
					      
					        <tr th:each="dato:${datos}" style="cursor:pointer" th:onclick="${'location.assign(''/chat/conversacion?email='+dato.get(2).remitente+''')'}">
					           
					        	<td><b th:text="${(dato.get(0)!=null)?dato.get(0).getNombreYApellidos():dato.get(2).remitente}"></b></td>
					        	<td th:text="${dato.get(2).mensaje}"></td>
					        	<td th:text="${dato.get(2).fecha.toLocaleString()}"></td>
					            <td><div class="numMsg" th:if="${!dato.get(1).equals('0')}" th:text="${dato.get(1)}"></div></td>
					         </tr>
					        
					    </tbody>
					
				</table> 
