<table>
<tr th:each="mensaje:${mensajes}">
<td>
<div th:if="${usuarioactivo.email.equals(mensaje.remitente)}" style="width:45%;padding:5px;float:right;background-color: grey">
<table style="width:100%">
<tr>
<td th:text="${mensaje.mensaje}"/>
<td th:text="${mensaje.fecha.toLocaleString()}" style="float:right;"/>
</tr>
</table>
</div>
<div th:if="${usuarioactivo.email.equals(mensaje.destinatario) and !usuarioactivo.email.equals(mensaje.remitente)}" style="width:45%;padding:5px;float:left;background-color: aqua;">
<table style="width:100%">
<tr>
<td th:text="${mensaje.mensaje}"/>
<td th:text="${mensaje.fecha.toLocaleString()}" style="float:right;"/>
</tr>
</table>
</div>
</td>
</tr>
</table>