<div id="frame">
	
	<div class="content" >
		<div class="contact-profile">
			
			<p><a href="/chat/contactos" class="" style="color:black;"><span class="fa fa-arrow-left"></span></a> <th:block th:text="${(destinatario==null)?emaildestinatario:destinatario.getNombreYApellidos()}"/></p>
		
		</div>
		<div class="messages" >
			<ul>
			<th:block  th:each="mensaje:${mensajes}">
				<li class="replies" th:if="${usuarioactivo.email.equals(mensaje.remitente)}">
					<p  th:text="${mensaje.mensaje}"></p>
					 <small class="text-muted" th:text="${mensaje.fecha.toLocaleString()}"></small>
				</li>
				<li class="sent" th:if="${usuarioactivo.email.equals(mensaje.destinatario) and !usuarioactivo.email.equals(mensaje.remitente)}">
					<p  th:text="${mensaje.mensaje}"></p>
					 <small class="text-muted"  th:text="${mensaje.fecha.toLocaleString()}"></small>
				</li>
				</th:block>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Escriba su mensaje..." />
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script th:inline="javascript">
    var stompClient = null;
	var emailActual = [[${usuarioactivo.email}]];
	var emailContacto = [[${emaildestinatario}]];
    /*function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversation").show();
        }
        else {
            $("#conversation").hide();
        }
        $("#greetings").html("");
    }*/

    function connect() {
        var socket = new SockJS('/gs-guide-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            //setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/conversacion/'+[[${suscripcion}]], function (greeting) {
                //showGreeting(JSON.parse(greeting.body).content);
            	//showGreeting(greeting.body);
            	newMessage(greeting.body);
            });
        });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendName() {
        //stompClient.send("/app/hello", {}, JSON.stringify({'name': $("#name").val()}));
    	stompClient.send("/mensaje/crear/"+emailContacto, {}, $("#mensaje").val());
    }

    function showGreeting(message) {
    	$("#mensaje").val("");
        $("body").append("<div>" + message + "</div>");
    }

    $(function () {
        /*$("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#connect" ).click(function() { connect(); });
        $( "#disconnect" ).click(function() { disconnect(); });*/
        $( "#send" ).click(function() { sendName(); });
        connect();
    });


$(".messages").animate({ scrollTop: 100000000 }, "fast");



function newMessage(msg) {
	msg=JSON.parse(msg);
	var fechamensaje=new Date(msg.fecha);
	var meses=["ene","feb","mar","abr","may","jun","jul","ago","sep","oct","nov","dic"];
	if((msg.destinatario==emailContacto)){
		$('<li class="replies"><p>'+msg.mensaje.trim()+'</p><small class="text-muted">'+fechamensaje.getDate()+'-'+meses[fechamensaje.getMonth()]+'-'+fechamensaje.getFullYear()+' '+fechamensaje.toLocaleTimeString()+'</small></li>').appendTo($('.messages ul'));
	}
	else if((msg.destinatario==emailActual)){
		$('<li class="sent"><p>'+msg.mensaje.trim()+'</p><small class="text-muted">'+fechamensaje.getDate()+'-'+meses[fechamensaje.getMonth()]+'-'+fechamensaje.getFullYear()+' '+fechamensaje.toLocaleTimeString()+'</small></li>').appendTo($('.messages ul'));
	}
	
	$(".messages").animate({ scrollTop: 100000000 }, "fast");
}
function sentMensaje(){
	stompClient.send("/mensaje/crear/"+emailContacto, {}, $('.message-input input').val());
	$('.message-input input').val(null);
}

$('.submit').click(function() {
  sentMensaje();
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
	  sentMensaje();
    return false;
  }
});

</script>