<div id="cabeceraDatos">
<h1>Empleos</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
  <a role="button" id="botonRotatorio" class="btn btn-info" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/empleo/listar','GET',crearTablaCategoriaOEmpleo)"><span class="fa fa-refresh" style="color:white"></span></a>
  <a role="button" href="/empleo/crear" class="btn btn-info"><span class="fa fa-plus"></span></a>
  <input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>
</div>
<div id="tablaDatos" class="table-responsive">

<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Categoria</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody class="myTable">
	<tr th:each="empleo:${empleos}">
		<td th:text="${empleo.nombre}"></td>
		<td th:text="${empleo.categoria.nombre}"></td>
		<td class="acciones">
			<a th:href="${'/empleo/modificar?id='+empleo.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
			<a th:href="${'/empleo/borrar?id='+empleo.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
		</td>
	</tr>
	</tbody>
</table>
</div>

<script>
$(document).ready(function(){
  $(".form-control.busqueda").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>