<h1>Empleos <a class="btn btn-info" id="botonRotatorio" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/empleo/listar','GET',crearTablaCategoriaOEmpleo)" role="button" style="color:white;"><span class="fa fa-refresh" style="width: 1em;"></span></a></h1>
<div id="tablaDatos">
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Categoria</th>
		<th>Acciones</th>
	</tr>
	<tr th:each="empleo:${empleos}">
		<td th:text="${empleo.nombre}"></td>
		<td th:text="${empleo.categoria.nombre}"></td>
		<td class="acciones">
			<a th:href="${'/empleo/modificar?id='+empleo.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
			<a th:href="${'/empleo/borrar?id='+empleo.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="/empleo/crear" class="btn btn-info" role="button" style="color:white;display:block">Crear</a>
		</td>
	</tr>
</table>
</div>