<h1>Manitas</h1>
<table id="myTable" class="table table-striped">
  
  <tr>
   <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
    <th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a>
          <!--
          <div>
          	<a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="dropdown-toggle"></a>
            <button id="botonesOrdenar" onclick="sortTable('asc',0)" name="asc"><i class="fa fa-angle-double-up"></i></button>
            <button id="botonesOrdenar" name="desc" onclick="sortTable('desc',0)"><i class="fa fa-angle-double-down"></i></button>
          </div>
           -->
    </th>
    <th>Email <a role="button" aria-expanded="true" onclick="sortTable(this,1)" class="fa fa-sort"></a>
      <!-- 
      <div>
        <button id="botonesOrdenar" onclick="sortTable('asc',1)"><i class="fa fa-angle-double-up"></i></button>
        <button id="botonesOrdenar" onclick="sortTable('desc',1)"><i class="fa fa-angle-double-down"></i></button>
      </div>
       -->
    </th>
    
    <th>Acciones</th>
  </tr>
  
  
  <tr th:each="unmanitas:${manitas}" th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer">
    <td th:text="${unmanitas.nombre}"></td>
    <td th:text="${unmanitas.email}"></td>
    <td class="acciones">
         <a th:href="'/mensaje/crear?emaildestinatario='+${unmanitas.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/modificar?id='+unmanitas.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/borrar?id='+unmanitas.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>

    </td>
  </tr>
  
</table>