<h1>Manitas</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
<input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>
<div id="tablaDatos" class="table-responsive">
<table id="myTable" class="table table-striped">
  <thead>
  <tr>
   <th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a>
          
    </th>
    <th>
    	Empleos <a role="button" aria-expanded="true" onclick="sortTable(this,1)" class="fa fa-sort"></a> 
    </th>
    <th>Valoración Media <a role="button" aria-expanded="true" onclick="sortTable(this,2)" class="fa fa-sort"></a>
    </th>
    <th th:if="${usuarioactivo!=null}">
    	Teléfono <a role="button" aria-expanded="true" onclick="sortTable(this,3)" class="fa fa-sort"></a>
    </th>
    <th th:if="${usuarioactivo!=null}">
    	Descripción <a role="button" aria-expanded="true" onclick="sortTable(this,4)" class="fa fa-sort"></a>
    </th>
    
    
    <th th:if="${usuarioactivo!=null}">Email <a role="button" aria-expanded="true" onclick="sortTable(this,5)" class="fa fa-sort"></a>
    
    </th>
    
    <th th:if="${usuarioactivo!=null}">Acciones</th>
    
  </tr>
  </thead>
	<tbody class="myTable">
  
  
  <tr th:each="unmanitas:${manitas}">
    <td th:text="${unmanitas.nombre}" th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer"></td>
    <td th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer">
    <ul style="list-style: none" >
    	<li th:each="empleo:${unmanitas.empleos}" th:text="'('+${empleo.categoria.nombre}+')-'+${empleo.nombre}"/>
    </ul>
    </td>
    <td th:text="${(!unmanitas.getOpiniones().isEmpty())?unmanitas.mediaValoracionesString():'-'}"  th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.telefono}"  th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.descripcion}"  th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.email}"  th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer"></td>
    <td class="acciones" th:if="${usuarioactivo!=null}">
         <a th:href="'/mensaje/crear?emaildestinatario='+${unmanitas.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/modificar?id='+unmanitas.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" data-toggle="modal" th:href="'#'+${unmanitas.id}" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>

<div class="modal fade" th:id="${unmanitas.id}" role="dialog">
					<div class="modal-dialog">
						<form action="borrar" method="post" onsubmit="return validar(this)">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">¿Desea borrar este manitas?</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<input type="text" name="id" th:value="${unmanitas.id}" required="true" hidden="true"/>
								<div class="row">
	            					<div class="d-none d-md-block col-md-12 field-label-responsive">
	                					<label for="passwordsin">Contraseña</label>
	            					</div>
						            <div class="col-md-12">
						                <div class="form-group has-danger">
						                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
						                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
						                        <input type="password" name="passwordsin" class="form-control" id="password"
						                               placeholder="Introduzca su contraseña" required="true"  />
						                       	<input type="password" name="password" hidden="true"/>
						                    </div>
						                </div>
						            </div>
					        	</div>
					         	<div class="row">
						            <div class="col-md-12">
						                <div id="errorPwd" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
						                        <span>
						                            Contraseña no valida
						                        </span>
						                </div>
						            </div>
					       	 </div>
					       	 <div class="row">
						            <div class="d-none d-md-block col-md-12 field-label-responsive">
						                <label for="password-confirmation">Confirme su contraseña</label>
						            </div>
						            <div class="col-md-12">
						                <div class="form-group">
						                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
						                        <div class="input-group-addon" style="width: 2.6rem">
						                            <i class="fa fa-repeat"></i>
						                        </div>
						                        <input type="password" name="password-confirmation" class="form-control"
						                               id="password-confirm" placeholder="Confirme su contraseña" required="true" />
						                    </div>
						                </div>
						            </div>
						        </div>
						         <div class="row">
							        	<div class="col-md-12">
							                <div id="errorPwdConfirm" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
							                        <span>
							                            <i class="fa fa-close">Repita correctamente su contraseña</i>
							                        </span>
							                </div>
							            </div>
							     </div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info" >Confirmar</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							</div>
						</div>
						</form>
					</div>
				</div>

    </td>
  </tr>
  </tbody>
</table>
</div>
<script>
function ocultarMostrarFiltro(boton){
	if(boton.nextElementSibling.style.display=='none')
		boton.nextElementSibling.style='display:block';
	else
		boton.nextElementSibling.style='display:none';
}
//document.getElementById("filtroEmpleo").value=location.search.slice(location.search.indexOf("filtro=")+7);
//filtrarFila(document.getElementById("filtroEmpleo"),1);
</script>