<h1>Manitas</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
<input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>
<div id="tablaDatos" class="table-responsive">
<table id="myTable" class="table table-striped">
  <thead>
  <tr>
   <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
    <th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a>
          <!--
          <div>
          	<a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="dropdown-toggle"></a>
            <button id="botonesOrdenar" onclick="sortTable('asc',0)" name="asc"><i class="fa fa-angle-double-up"></i></button>
            <button id="botonesOrdenar" name="desc" onclick="sortTable('desc',0)"><i class="fa fa-angle-double-down"></i></button>
          </div>
           -->
    </th>
    <th>
    	Empleos <a role="button" aria-expanded="true" onclick="sortTable(this,1)" class="fa fa-sort"></a> 
    </th>
    <th>Valoración Media <a role="button" aria-expanded="true" onclick="sortTable(this,2)" class="fa fa-sort"></a>
    </th>
    <th th:if="${usuarioactivo!=null}">
    	Teléfono <a role="button" aria-expanded="true" onclick="sortTable(this,3)" class="fa fa-sort"></a>
    </th>
    <th th:if="${usuarioactivo!=null}">
    	Descripcion <a role="button" aria-expanded="true" onclick="sortTable(this,4)" class="fa fa-sort"></a>
    </th>
    
    
    <th th:if="${usuarioactivo!=null}">Email <a role="button" aria-expanded="true" onclick="sortTable(this,5)" class="fa fa-sort"></a>
      <!-- 
      <div>
        <button id="botonesOrdenar" onclick="sortTable('asc',1)"><i class="fa fa-angle-double-up"></i></button>
        <button id="botonesOrdenar" onclick="sortTable('desc',1)"><i class="fa fa-angle-double-down"></i></button>
      </div>
       -->
    </th>
    
    <th th:if="${usuarioactivo!=null}">Acciones</th>
    
  </tr>
  </thead>
	<tbody class="myTable">
  
  
  <tr th:each="unmanitas:${manitas}" th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer">
    <td th:text="${unmanitas.nombre}"></td>
    <td>
    <ul style="list-style: none">
    	<li th:each="empleo:${unmanitas.empleos}" th:text="'('+${empleo.categoria.nombre}+')-'+${empleo.nombre}"/>
    </ul>
    </td>
    <td th:text="${(!unmanitas.getOpiniones().isEmpty())?unmanitas.mediaValoracionesString():'-'}"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.telefono}"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.descripcion}"></td>
    <td th:if="${usuarioactivo!=null}" th:text="${unmanitas.email}"></td>
    <td class="acciones" th:if="${usuarioactivo!=null}">
         <a th:href="'/mensaje/crear?emaildestinatario='+${unmanitas.email}" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/modificar?id='+unmanitas.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>

        <a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/borrar?id='+unmanitas.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>

    </td>
  </tr>
  </tbody>
</table>
</div>
<script>
function ocultarMostrarFiltro(boton){
	if(boton.nextElementSibling.style.display=='none')
		boton.nextElementSibling.style='display:block';
	else
		boton.nextElementSibling.style='display:none';
}
//document.getElementById("filtroEmpleo").value=location.search.slice(location.search.indexOf("filtro=")+7);
//filtrarFila(document.getElementById("filtroEmpleo"),1);
</script>