<h1>Manitas</h1>
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th>Acciones</th>
	</tr>
	<tr th:each="unmanitas:${manitas}" th:onclick="${'location.assign(''/manitas/ver?id='+unmanitas.id+''')'}" style="cursor:pointer">
			<td th:text="${unmanitas.nombre}"></td>
			<td th:text="${unmanitas.email}"></td>
			<td class="acciones">
				<a th:href="''" class="btn btn-info" role="button"><span class="fa fa-envelope"></span></a>
				<a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/modificar?id='+unmanitas.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
				<a th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/manitas/borrar?id='+unmanitas.id}" onclick="return confirm('?Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
			</td>
	</tr>
</table>