<h1>Modificar Manitas</h1>

<form method="post" onsubmit="return validar(this)">
	<input type="text" name="id" th:value="${manitas.id}" required="true" hidden="true"/>
	<div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label>Contraseña Actual</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="passwordactual" class="form-control"
                               placeholder="Introduzca su contraseña" required="true"/>
                       	<input type="password" name="passwordactualhash" hidden="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div id="errorPwdActual" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            Contraseña no valida
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="name" >Nombre</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <span class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></span>
                        <input type="text" name="nombre" class="form-control" id="nombre"
                               placeholder="Introduzca su nombre" th:value="${manitas.nombre}" required="true" autofocus="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
        	<div class="col-md-6">
                <div id="errorNombre" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            Nombre no valido
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="apellidos">Apellidos</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="apellidos" class="form-control" id="apellidos"
                               placeholder="Introduzca sus apellidos" required="true" autofocus="true" th:value="${manitas.apellidos}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div id="errorApellidos" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                             Apellidos no validos
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="email">Correo Electronico</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="Introduzca su e-mail" required="true" autofocus="true" th:value="${manitas.email}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
        	  <div class="col-md-6">
                <div id="errorEmail" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                           El correo no es valido
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="tlf">Telófono</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" name="telefono" class="form-control"
                               id="tlf" placeholder="Introduzca su telófono" required="true" th:value="${manitas.telefono}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div id="errorTelefono" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                           El telefono no es valido
                        </span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="passwordsin">Contraseña</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="passwordsin" class="form-control" id="password"
                               placeholder="Introduzca su contraseña" required="true" value="S1nC@mb1os" />
                       	<input type="password" name="password" hidden="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div id="errorPwd" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            Contraseña no valida
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="password-confirmation">Confirme su contraseña</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="password-confirmation" class="form-control"
                               id="password-confirm" placeholder="Confirme su contraseña" required="true" value="S1nC@mb1os"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
        	<div class="col-md-6">
                <div id="errorPwdConfirm" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            <i class="fa fa-close">Repita correctamente su contraseña</i>
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="mapa">Introduzca su dirección</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    
                        <div class="col-11" style="padding:0px">
                            
                            <article>
                                <section>
                                    <div id="map-canvas" style="height: 200px;width: auto"></div>
                                     <script>google.maps.event.addDomListener(window,'load', initialize)</script>

                                </section>

                            </article>
                        
                            
                                <div class="input-group add-on" style="width: auto">
                                  <input type="text" class="form-control" placeholder="Introduzca su dirección y seleccione un punto en el mapa" id="direccion"/>
                                  <input type="text" hidden="true" name="coordenadas" id="coordenadas" th:value="${manitas.direccion}" />
                                  <div class="input-group-btn">
                                    <input type="button"  class="btn btn-info" id="buscar" onclick="buscarCalle()" value=">"></input>
                                  </div>
                                </div>
                             
                            
                        </div>
                             
                    </div>
                </div>
            </div>
        </div>
		<div class="row" id="divEmpleo">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="descripcion">Seleccione su oficio</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <select multiple="true" id="idempleo" name="idempleo" required="true">
                        	<option th:each="empleo:${empleos}" th:value="${empleo.id}" th:selected="${(manitas.empleos.contains(empleo))?'true':'false'}" th:text="${'('+empleo.categoria.nombre+') - '+empleo.nombre}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="divDescripcion">
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="descripcion">¿A que se dedica?</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-align-justify"></i>
                        </div>
                        <textarea class="form-control" rows="5" id="descripcion" name="descripcion" placeholder="Exponga sus cualidades laborales" th:text="${manitas.descripcion}"></textarea>
                        
                    </div>
                </div>
            </div>
        </div>

          <div class="row" id="divRadio" >
            <div class="d-none d-md-block col-md-3 field-label-responsive">
                <label for="radio">Radio de acción</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-bullseye"></i>
                        </div>
                         <input class="form-control" type="number"  id="radio" min="1" max="1000" name="radio" placeholder="Introduzca el radio de accion en el que desea trabajar" required="true" th:value="${manitas.radioAccion}"/>
                         <div class="input-group-addon" style="width: 2.6rem">
                            <span>Km</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div id="errorRadioAccion" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            El radio de acción es incorrecto
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-info"  onclick="desbilitarDireccion()"><span class="fa fa-save"></span> Modificar</button>
                <a class="btn btn-info" data-toggle="modal" th:href="'#'+${manitas.id}" role="button">
					Eliminar cuenta
				</a> 
				
				<div class="modal fade" th:id="${manitas.id}" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">¿Estás seguro?</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<a th:href="${'/manitas/borrar?id='+manitas.id}" class="btn btn-info" role="button">Confirmar</a>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
</form>

<script>
function desbilitarDireccion(){
	if(document.getElementById('coordenadas').value!="")
		document.getElementById('direccion').disabled='true';
	
}
</script>
<!-- https://fontawesome.com/v4.7.0/icon/window-minimize/ -->