
<div id="perfil">

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" href="#info"
			role="tab" data-toggle="tab"><i class="fa fa-address-card-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"  th:if="${usuarioactivo!=null}"><a class="nav-link" href="#mensaje"
			role="tab" data-toggle="tab"><i class="fa fa-envelope-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="#valoracion"
			role="tab" data-toggle="tab"><i class="fa fa-star-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="#comentarios"
			role="tab" data-toggle="tab"><i class="fa fa-comment-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"  th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('cliente')}"><a class="nav-link" href="#añadirOpinion"
			role="tab" data-toggle="tab"><i class="fa fa-plus"
				aria-hidden="true"></i></a></li>
	</ul>

	<!-- Tab panel -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active show" id="info">
			<br/>
			<h3>Perfil Manitas</h3>
			<hr />
			<div class="row">
				<div id="izqInfo" class="col">
					<p class="txtInfo" id="nombre">
						<i class="fa fa-user-o" aria-hidden="true"></i> Nombre: <th:block th:text="${manitas.nombre}"/>
					</p>
					<p class="txtInfo" id="correo">
						<i class="fa fa-at" aria-hidden="true"></i> Correo: <th:block th:text="${manitas.email}"/>
					</p>
					<p class="txtInfo" id="ubicacion">
						<i class="fa fa-map-marker " aria-hidden="true"></i> Ubicación:<th:block th:text="${manitas.direccion}"/>
					</p>
					<p class="txtInfo" id="valoraciones">
						<i class="fa fa-certificate " aria-hidden="true"></i> Valoracion:
								<th:block th:if="${!manitas.getOpiniones().isEmpty()}">
								
								<span class="fa fa-star" aria-hidden="true"></span>
									 
								<i th:if="${manitas.mediaValoracionesDouble() >= 1.25 and 1.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 1.75 and 2 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 2}" class="fa fa-star" ></span>
    							<i th:if="${1.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 2.25 and 2.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" ></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 2.75 and 3 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 3}" class="fa fa-star" ></span>
    							<i th:if="${2.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 3.25 and 3.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 3.75 and 4 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 4}" class="fa fa-star" ></span>
    							<i th:if="${3.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 4.25 and 4.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 4.75 and 5 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() == 5}" class="fa fa-star" ></span>
    							<i th:if="${4.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    						
    						
							(<th:block th:text="${manitas.mediaValoracionesString()}"/>)
							</th:block>
							<th:block th:if="${manitas.getOpiniones().isEmpty()}">
							No hay valoraciones
							</th:block>
					</p>
				</div>
				<hr id="barra_vertical" />
				<div id="drchInfo" class="col">

					<p class="txtInfo" id="oficios">
						<i class="fa fa-wrench" aria-hidden="true"></i> Oficios:
					<ul >
				    	<li th:each="empleo:${manitas.empleos}" th:text="'('+${empleo.categoria.nombre}+')-'+${empleo.nombre}"/>
				    </ul>

					</p>



				</div>
			</div>
			<div class="row">
				<div id="inferiorInfo" class="col">

					<p class="txtInfo" id="cualidades">
						 <i class="fa fa-align-justify" aria-hidden="true"></i>
						Descripción:<br /> <th:block th:text="${manitas.descripcion}"/>
					</p>



				</div>
			</div>


		</div>
		<div role="tabpanel" class="tab-pane fade" id="mensaje" th:if="${usuarioactivo!=null}">
			<form  action="/chat/contactos" method="post">
	           <div class="row justify-content-center">	
					<div class="col-10">	
							 <div class="media-body">
							 		<input hidden="true" type="text" name="emaildestinatario" th:value="${manitas.email}"/>
		               				 <h5 class="font-weight-bold text-primary"><th:block th:text="${manitas.nombre}"/></h5>
			              				  <div class="form-group basic-textarea rounded-corners">
			                   				 <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" style="max-height: 150px;min-height: 50px" placeholder="Escribe tu mensaje..." name="mensaje"></textarea>
		               			 </div>
	
		            		</div>
					</div>
					<div class="col-10">	
							<button class="btn btn-outline-primary" style="margin-bottom: 30px"><span  class="fa fa-send"></span>Enviar mensaje</button>
					</div>
					
	           </div>
	           </form>	
		</div>
		<div role="tabpanel" class="tab-pane fade" id="valoracion">

			<div class="row valoracionRow" style="margin-bottom:0px;margin-top:0px">
				<div class="col-sm-6">
					<div class="rating-block">
						<h4>Valoración Media</h4>
						<th:block th:if="${!manitas.getOpiniones().isEmpty()}">
						<h2 class="bold padding-bottom-7">
							<th:block th:text="${manitas.mediaValoracionesString()}"/> <small>/ 5</small>
						</h2>
						
								<span class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
									 
								<i th:if="${manitas.mediaValoracionesDouble() >= 1.25 and 1.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 1.75 and 2 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 2}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${1.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 2.25 and 2.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 2.75 and 3 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 3}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${2.25  > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 3.25 and 3.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 3.75 and 4 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 4}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${3.25  > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 4.25 and 4.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 4.75 and 5 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() == 5}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${4.25 >= manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    						
    						</th:block>
							<th:block th:if="${manitas.getOpiniones().isEmpty()}">
							No hay valoraciones
							</th:block>
    									

					</div>
				</div>
				<div class="col-sm-6" id="rating">
					<h4>Opinión de los usuarios</h4>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								5 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-success progress-bar-striped"
									role="progressbar" aria-valuenow="5" aria-valuemin="0"
									aria-valuemax="5" style="width: 1000%"></div>
							</div>
						</div>
						<div class="d-flex justify-content-center"
							style="margin-left: 10px;"><th:block th:text="${manitas.contarEstrellas(5)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								4 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-primary progress-bar-striped"
									role="progressbar" aria-valuenow="4" aria-valuemin="0"
									aria-valuemax="5" style="width: 80%"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;"><th:block th:text="${manitas.contarEstrellas(4)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								3 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-info progress-bar-striped"
									role="progressbar" aria-valuenow="3" aria-valuemin="0"
									aria-valuemax="5" style="width: 60%"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;"><th:block th:text="${manitas.contarEstrellas(3)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								2 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-warning progress-bar-striped"
									role="progressbar" aria-valuenow="2" aria-valuemin="0"
									aria-valuemax="5" style="width: 40%"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;"><th:block th:text="${manitas.contarEstrellas(2)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								1 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-danger progress-bar-striped"
									role="progressbar" aria-valuenow="1" aria-valuemin="0"
									aria-valuemax="5" style="width: 20%"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;"><th:block th:text="${manitas.contarEstrellas(1)}"/></div>
					</div>
				</div>
			</div>

		</div>
		<div role="tabpanel" class="tab-pane fade" id="comentarios">
			<div class="row">
				<div class="col-sm-12">
					<h3>Opiniones de los usuarios</h3>
					
					<div class="review-block ">
					<th:block  th:each="opinion:${manitas.opiniones}">
					
						<hr class="opinionHR" />
						<div class="row justify-content-center">
							<div class="col-3 nombreUsuario">

								<div class="review-block-name" th:text="${opinion.cliente.getNombreYApellidos()}">
								</div>
							</div>
							<div class="col-7">
								<div class="review-block-rate">
										<span class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
									 
										<span th:if="${opinion.valoracion >= 2}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 2}" class="fa fa-star-o" style="color:orange"></i>
    						
    									
    									<span th:if="${opinion.valoracion >= 3}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 3}" class="fa fa-star-o" style="color:orange"></i>
    									
    									<span th:if="${opinion.valoracion >= 4}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 4}" class="fa fa-star-o" style="color:orange"></i>
    									
    									<span th:if="${opinion.valoracion >= 5}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 5}" class="fa fa-star-o" style="color:orange"></i>
    									
										 
								
								</div>
								<div class="review-block-title" th:text="${opinion.titulo}"></div>
								<div class="review-block-description" th:text="${opinion.comentario}"></div>
							</div>
							
						
						</div>
						</th:block>

					</div>
				</div>
			</div>
		</div>


		<div th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('cliente')}" role="tabpanel" class="tab-pane fade" id="añadirOpinion">
		<form th:action="${(opinionClienteManitas==null)?'/opinion/crear':'/opinion/modificar'}" method="post">
		<input th:if="${opinionClienteManitas!=null}" type="text" hidden="true" name="id" th:value="${opinionClienteManitas.id}"/>
			<div class="row justify-content-center" style="margin-bottom:0px;margin-top:0px">

				
				<div class="col-sm-6">
					<div class="rating-block">
						<h5>Seleccione su valoración</h5>
						<button type="button" class="btn btn-warning btn-sm"
							aria-label="Left Align" onclick="fijarColor(this)" id="boton1">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=2)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton2">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=3)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton3">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=4)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton4">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=5)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton5">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>

					</div>
				</div>
				<div class="col-sm-6" id="rating">
					
						<input hidden="hidden" type="text" name="idmanitas" th:value="${manitas.id}"/>
						<input hidden="hidden" id="valoracionHidden" type="text" name="valoracion" th:value="${(opinionClienteManitas!=null)?opinionClienteManitas.valoracion:'1'}" />
						<h5>Resuma brevemente su experiencia</h5>
						<div class="d-flex justify-content-center">
					
							<textarea class="form-control opinion" id="titulo" rows="2" name="titulo" style="max-height: 100px;min-height:50px" th:text="${(opinionClienteManitas!=null)?opinionClienteManitas.titulo:''}"></textarea>
	
						</div>
						<h5>Escriba su opinión</h5>
						<div class="d-flex justify-content-center">
					
							<textarea class="form-control opinion" id="comentario" rows="4" name="comentario" style="max-height: 250px;min-height:50px" th:text="${(opinionClienteManitas!=null)?opinionClienteManitas.comentario:''}"></textarea>
	
						</div>
						
							
					
				</div>
			</div>
			<div class="row valoracion"  style="margin-top:0px">
				<div class="col-sm-12 divBotonOpinion">

					<button type="submit" class="btn btn-info " aria-label="Left Align"
						id="botonVotar" onclick="detectarEstrellas(this)">Enviar opinión</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<script>
	function detectarEstrellas(e){
		e.getElementsByTagName('button')
	}
	function cambiarColor(e) {
		switch (e.id) {
		case "boton1":

			if (document.getElementById("boton1").classList
					.contains('btn-warning')) {

				document.getElementById("boton1").classList
						.remove('btn-warning');

				document.getElementById("boton1").classList.add('btn-default');
				document.getElementById("boton1").classList.add('btn-grey');

				//boton 2 disabled
				document.getElementById("boton2").classList
						.remove('btn-warning');
				document.getElementById("boton2").classList.add('btn-default');
				document.getElementById("boton2").classList.add('btn-grey');

				//boton 3 disabled
				document.getElementById("boton3").classList
						.remove('btn-warning');
				document.getElementById("boton3").classList.add('btn-default');
				document.getElementById("boton3").classList.add('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			} else if (document.getElementById("boton1").classList
					.contains('btn-default')) {
				document.getElementById("boton1").classList
						.remove('btn-default');
				document.getElementById("boton1").classList.remove('btn-grey');

				document.getElementById("boton1").classList.add('btn-warning');

				//boton 2 disabled
				document.getElementById("boton2").classList
						.remove('btn-warning');
				document.getElementById("boton2").classList.add('btn-default');
				document.getElementById("boton2").classList.add('btn-grey');

				//boton 3 disabled
				document.getElementById("boton3").classList
						.remove('btn-warning');
				document.getElementById("boton3").classList.add('btn-default');
				document.getElementById("boton3").classList.add('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			}
			break;
		case "boton2":
			if (document.getElementById("boton2").classList
					.contains('btn-warning')) {

				document.getElementById("boton2").classList
						.remove('btn-warning');

				document.getElementById("boton2").classList.add('btn-default');
				document.getElementById("boton2").classList.add('btn-grey');

				//boton 3 disabled
				document.getElementById("boton3").classList
						.remove('btn-warning');
				document.getElementById("boton3").classList.add('btn-default');
				document.getElementById("boton3").classList.add('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			} else if (document.getElementById("boton2").classList
					.contains('btn-default')) {
				document.getElementById("boton2").classList
						.remove('btn-default');
				document.getElementById("boton2").classList.remove('btn-grey');

				document.getElementById("boton2").classList.add('btn-warning');

				document.getElementById("boton1").classList.add('btn-warning');
				document.getElementById("boton1").classList.remove('btn-grey');

				//boton 3 disabled
				document.getElementById("boton3").classList
						.remove('btn-warning');
				document.getElementById("boton3").classList.add('btn-default');
				document.getElementById("boton3").classList.add('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			}
			break;
		case "boton3":
			if (document.getElementById("boton3").classList
					.contains('btn-warning')) {

				document.getElementById("boton3").classList
						.remove('btn-warning');

				document.getElementById("boton3").classList.add('btn-default');
				document.getElementById("boton3").classList.add('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');
			} else if (document.getElementById("boton3").classList
					.contains('btn-default')) {
				document.getElementById("boton3").classList
						.remove('btn-default');
				document.getElementById("boton3").classList.remove('btn-grey');

				document.getElementById("boton1").classList.add('btn-warning');
				document.getElementById("boton1").classList.remove('btn-grey');

				document.getElementById("boton2").classList.add('btn-warning');
				document.getElementById("boton2").classList.remove('btn-grey');

				document.getElementById("boton3").classList.add('btn-warning');
				document.getElementById("boton3").classList.remove('btn-grey');

				//boton 4 disabled
				document.getElementById("boton4").classList
						.remove('btn-warning');
				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			}
			break;
		case "boton4":
			if (document.getElementById("boton4").classList
					.contains('btn-warning')) {

				document.getElementById("boton4").classList
						.remove('btn-warning');

				document.getElementById("boton4").classList.add('btn-default');
				document.getElementById("boton4").classList.add('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			} else if (document.getElementById("boton4").classList
					.contains('btn-default')) {
				document.getElementById("boton4").classList
						.remove('btn-default');
				document.getElementById("boton4").classList.remove('btn-grey');

				document.getElementById("boton1").classList.add('btn-warning');
				document.getElementById("boton1").classList.remove('btn-grey');

				document.getElementById("boton2").classList.add('btn-warning');
				document.getElementById("boton2").classList.remove('btn-grey');

				document.getElementById("boton3").classList.add('btn-warning');
				document.getElementById("boton3").classList.remove('btn-grey');

				document.getElementById("boton4").classList.add('btn-warning');
				document.getElementById("boton4").classList.remove('btn-grey');

				//boton 5 disabled
				document.getElementById("boton5").classList
						.remove('btn-warning');
				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			}
			break;
		case "boton5":
			if (document.getElementById("boton5").classList
					.contains('btn-warning')) {

				document.getElementById("boton5").classList
						.remove('btn-warning');

				document.getElementById("boton5").classList.add('btn-default');
				document.getElementById("boton5").classList.add('btn-grey');

			} else if (document.getElementById("boton5").classList
					.contains('btn-default')) {
				document.getElementById("boton5").classList
						.remove('btn-default');
				document.getElementById("boton5").classList.remove('btn-grey');

				document.getElementById("boton1").classList.add('btn-warning');
				document.getElementById("boton1").classList.remove('btn-grey');

				document.getElementById("boton2").classList.add('btn-warning');
				document.getElementById("boton2").classList.remove('btn-grey');

				document.getElementById("boton3").classList.add('btn-warning');
				document.getElementById("boton3").classList.remove('btn-grey');

				document.getElementById("boton4").classList.add('btn-warning');
				document.getElementById("boton4").classList.remove('btn-grey');

				document.getElementById("boton5").classList.add('btn-warning');
				document.getElementById("boton5").classList.remove('btn-grey');

			}
			break;
		}
	}
	function limpiarColor() {
		document.getElementById("boton1").classList.remove('btn-warning');
		document.getElementById("boton1").classList.add('btn-default');
		document.getElementById("boton1").classList.add('btn-grey');

		document.getElementById("boton2").classList.remove('btn-warning');
		document.getElementById("boton2").classList.add('btn-default');
		document.getElementById("boton2").classList.add('btn-grey');

		document.getElementById("boton3").classList.remove('btn-warning');
		document.getElementById("boton3").classList.add('btn-default');
		document.getElementById("boton3").classList.add('btn-grey');

		document.getElementById("boton4").classList.remove('btn-warning');
		document.getElementById("boton4").classList.add('btn-default');
		document.getElementById("boton4").classList.add('btn-grey');

		document.getElementById("boton5").classList.remove('btn-warning');
		document.getElementById("boton5").classList.add('btn-default');
		document.getElementById("boton5").classList.add('btn-grey');

	}
	function fijarColor(e) {
		switch (e.id) {
		case "boton1":
			document.getElementById("valoracionHidden").value="1";
			
			document.getElementById('boton1').onmouseover = null;
			document.getElementById("boton1").classList.remove('btn-default');
			document.getElementById("boton1").classList.remove('btn-grey');

			document.getElementById("boton1").classList.add('btn-warning');
			document.getElementById('boton2').onmouseover = null;
			document.getElementById("boton2").classList.remove('btn-warning');
			document.getElementById("boton2").classList.add('btn-default');
			document.getElementById("boton2").classList.add('btn-grey');

			document.getElementById('boton3').onmouseover = null;
			document.getElementById("boton3").classList.remove('btn-warning');
			document.getElementById("boton3").classList.add('btn-default');
			document.getElementById("boton3").classList.add('btn-grey');
			
			document.getElementById('boton4').onmouseover = null;
			document.getElementById("boton4").classList.remove('btn-warning');
			document.getElementById("boton4").classList.add('btn-default');
			document.getElementById("boton4").classList.add('btn-grey');
			
			document.getElementById('boton5').onmouseover = null;
			document.getElementById("boton5").classList.remove('btn-warning');
			document.getElementById("boton5").classList.add('btn-default');
			document.getElementById("boton5").classList.add('btn-grey');

			break;
		case "boton2":
			document.getElementById("valoracionHidden").value="2";
			
			document.getElementById('boton1').onmouseover = null;
			document.getElementById("boton1").classList.remove('btn-default');
			document.getElementById("boton1").classList.remove('btn-grey');
			document.getElementById("boton1").classList.add('btn-warning');
			
			document.getElementById('boton2').onmouseover = null;
			document.getElementById("boton2").classList.remove('btn-default');
			document.getElementById("boton2").classList.remove('btn-grey');
			document.getElementById("boton2").classList.add('btn-warning');

			document.getElementById('boton3').onmouseover = null;
			document.getElementById("boton3").classList.remove('btn-warning');
			document.getElementById("boton3").classList.add('btn-default');
			document.getElementById("boton3").classList.add('btn-grey');
			
			document.getElementById('boton4').onmouseover = null;
			document.getElementById("boton4").classList.remove('btn-warning');
			document.getElementById("boton4").classList.add('btn-default');
			document.getElementById("boton4").classList.add('btn-grey');
			
			document.getElementById('boton5').onmouseover = null;
			document.getElementById("boton5").classList.remove('btn-warning');
			document.getElementById("boton5").classList.add('btn-default');
			document.getElementById("boton5").classList.add('btn-grey');

			break;
		case "boton3":
			document.getElementById("valoracionHidden").value="3";
			
			document.getElementById('boton1').onmouseover = null;
			document.getElementById("boton1").classList.remove('btn-default');
			document.getElementById("boton1").classList.remove('btn-grey');
			document.getElementById("boton1").classList.add('btn-warning');
			
			document.getElementById('boton2').onmouseover = null;
			document.getElementById("boton2").classList.remove('btn-default');
			document.getElementById("boton2").classList.remove('btn-grey');
			document.getElementById("boton2").classList.add('btn-warning');

			document.getElementById('boton3').onmouseover = null;
			document.getElementById("boton3").classList.remove('btn-default');
			document.getElementById("boton3").classList.remove('btn-grey');
			document.getElementById("boton3").classList.add('btn-warning');
			
			document.getElementById('boton4').onmouseover = null;
			document.getElementById("boton4").classList.remove('btn-warning');
			document.getElementById("boton4").classList.add('btn-default');
			document.getElementById("boton4").classList.add('btn-grey');
			
			document.getElementById('boton5').onmouseover = null;
			document.getElementById("boton5").classList.remove('btn-warning');
			document.getElementById("boton5").classList.add('btn-default');
			document.getElementById("boton5").classList.add('btn-grey');

			break;
		case "boton4":
			document.getElementById("valoracionHidden").value="4";			
			
			document.getElementById('boton1').onmouseover = null;
			document.getElementById("boton1").classList.remove('btn-default');
			document.getElementById("boton1").classList.remove('btn-grey');
			document.getElementById("boton1").classList.add('btn-warning');
			
			document.getElementById('boton2').onmouseover = null;
			document.getElementById("boton2").classList.remove('btn-default');
			document.getElementById("boton2").classList.remove('btn-grey');
			document.getElementById("boton2").classList.add('btn-warning');

			document.getElementById('boton3').onmouseover = null;
			document.getElementById("boton3").classList.remove('btn-default');
			document.getElementById("boton3").classList.remove('btn-grey');
			document.getElementById("boton3").classList.add('btn-warning');
			
			document.getElementById('boton4').onmouseover = null;
			document.getElementById("boton4").classList.remove('btn-default');
			document.getElementById("boton4").classList.remove('btn-grey');
			document.getElementById("boton4").classList.add('btn-warning');
			
			document.getElementById('boton5').onmouseover = null;
			document.getElementById("boton5").classList.remove('btn-warning');
			document.getElementById("boton5").classList.add('btn-default');
			document.getElementById("boton5").classList.add('btn-grey');
			break;
		case "boton5":
			document.getElementById("valoracionHidden").value="5";
			
			document.getElementById('boton1').onmouseover = null;
			document.getElementById("boton1").classList.remove('btn-default');
			document.getElementById("boton1").classList.remove('btn-grey');
			document.getElementById("boton1").classList.add('btn-warning');
			
			document.getElementById('boton2').onmouseover = null;
			document.getElementById("boton2").classList.remove('btn-default');
			document.getElementById("boton2").classList.remove('btn-grey');
			document.getElementById("boton2").classList.add('btn-warning');

			document.getElementById('boton3').onmouseover = null;
			document.getElementById("boton3").classList.remove('btn-default');
			document.getElementById("boton3").classList.remove('btn-grey');
			document.getElementById("boton3").classList.add('btn-warning');
			
			document.getElementById('boton4').onmouseover = null;
			document.getElementById("boton4").classList.remove('btn-default');
			document.getElementById("boton4").classList.remove('btn-grey');
			document.getElementById("boton4").classList.add('btn-warning');
			
			document.getElementById('boton5').onmouseover = null;
			document.getElementById("boton5").classList.remove('btn-default');
			document.getElementById("boton5").classList.remove('btn-grey');
			document.getElementById("boton5").classList.add('btn-warning');
			break;
		}
	}
</script>
<style>
#perfil {
	margin-top: 20px;
	width: auto;
	height: 800px;
}
#comentarios{
	max-height:700px;
    overflow-y: scroll;
     overflow-x: hidden;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 30px;
	margin-right: 30px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

#barra_vertical {
	float: left;
	border-left: 1px solid #999999;
	width: 1px;
	margin-top: 0;
	height: 150px;
}

h3 {
	margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 10px;

}


.tab-content>.active {
	border: 1px solid #ddd;
	border-top: 0;
	
}

.txtInfo {
	margin-left: 40px;
	margin-bottom: 10px;
}

#izqInfo {
	float: left;
}

#drchInfo {
	float: left;
}

#cualidades {
	font-size: 14px;
	float: bottom;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}


.btn-grey {
	background-color: #D8D8D8;
	color: #FFF;
}

.rating-block {
	background-color: #FAFAFA;
	padding: 25px 15px 20px 15px;
	padding-bottom: 50px;
	padding-left: 30px;
	text-align: center;
	height: 100%;
}
.review-block-title {
	font-size:17px;
	font-weight: 700;
}
.bold {
	font-weight: 700;
}

.padding-bottom-7 {
	padding-bottom: 7px;
}

.fa-star:before {
	content: "\f005";
	color: black;
}
.fa-star.estrellaOpinion:before{
	content: "\f005";
	color: orange;
	font-size:24px
}


button.btn.btn-default.btn-grey.btn-sm>span.fa.fa-star:before {
	color: black;
}

button.btn.btn-warning.btn-sm>span.fa.fa-star:before, button.btn.btn-warning.btn-xs>span.fa.fa-star:before
	{
	color: white;
}


#rating {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}


.row.justify-content-center{

	margin-top:0;
	margin-bottom:0;
}
.row>.col-sm-12>h4 {
	padding-top: 30px;
	padding-left: 30px;
}

.nombreUsuario {
	margin-top: 60px;
}

.review-block-title {
	padding-top: 20px;
}

hr.opinionHR {
	margin-top: 0;
}



h5 {
	padding-top: 20px;
}
.form-control.opinion{
width:80%;
}
.col-sm-12.divBotonOpinion {
	text-align: center;
	border-top: 1px solid #ddd;

}
.row.valoracion{
margin-right:0px;
margin-left:0px;
}
#botonVotar {
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>