<script th:inline="javascript">

window.onload = valoracionesPorcentaje;

window.onload = ubicacion;

function ubicacion(){
	var direccion = [[${manitas.direccion}]];
	var campo = document.getElementById("ubicacion");
	convertirDireccion(direccion,campo);
}

</script>
<div id="perfil">

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" href="#info"
			role="tab" data-toggle="tab"><i class="fa fa-address-card-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"  th:if="${usuarioactivo!=null}"><a class="nav-link" href="#mensaje"
			role="tab" data-toggle="tab"><i class="fa fa-envelope-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="#valoracion"
			role="tab" data-toggle="tab"><i class="fa fa-star-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"><a class="nav-link" href="#comentarios"
			role="tab" data-toggle="tab"><i class="fa fa-comment-o"
				aria-hidden="true"></i></a></li>
		<li class="nav-item"  th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('cliente')}"><a class="nav-link" href="#añadirOpinion"
			role="tab" data-toggle="tab"><i class="fa fa-plus"
				aria-hidden="true"></i></a></li>
	</ul>

	<!-- Tab panel -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active show" id="info">
			
			<h3>Perfil Manitas</h3>
			<hr />
			<div class="row">
				<div id="izqInfo" class="col">
					<p class="txtInfo" id="nombre">
						<i class="fa fa-user-o" aria-hidden="true"></i> Nombre: <th:block th:text="${manitas.nombre}"/>
					</p>
					<p class="txtInfo" id="correo" th:if="${usuarioactivo!=null}">
						<i class="fa fa-at" aria-hidden="true"></i> Correo: <th:block th:text="${manitas.email}"/>
					</p>
					<p class="txtInfo" id="ubicacion">
						<i class="fa fa-map-marker " aria-hidden="true"></i> Ubicación:<th:block th:text="${manitas.direccion}"/>
					</p>
					<p class="txtInfo" id="valoraciones">
						<i class="fa fa-certificate " aria-hidden="true"></i> Valoración:
								<th:block th:if="${!manitas.getOpiniones().isEmpty()}">
								
								<span class="fa fa-star" aria-hidden="true"></span>
									 
								<i th:if="${manitas.mediaValoracionesDouble() >= 1.25 and 1.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 1.75 and 2 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 2}" class="fa fa-star" ></span>
    							<i th:if="${1.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 2.25 and 2.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" ></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 2.75 and 3 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 3}" class="fa fa-star" ></span>
    							<i th:if="${2.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 3.25 and 3.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 3.75 and 4 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 4}" class="fa fa-star" ></span>
    							<i th:if="${3.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 4.25 and 4.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 4.75 and 5 > manitas.mediaValoracionesDouble() }" class="fa fa-star" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() == 5}" class="fa fa-star" ></span>
    							<i th:if="${4.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o"></i>
    							
    						
    						
							(<th:block th:text="${manitas.mediaValoracionesString()}"/>)
							</th:block>
							<th:block th:if="${manitas.getOpiniones().isEmpty()}">
							No hay valoraciones
							</th:block>
					</p>
				</div>
				<hr id="barra_vertical" />
				<div id="drchInfo" class="col">

					<p class="txtInfo" id="oficios">
						<i class="fa fa-wrench" aria-hidden="true"></i> Oficios:
					<ul >
				    	<li th:each="empleo:${manitas.empleos}" th:text="'('+${empleo.categoria.nombre}+')-'+${empleo.nombre}"/>
				    </ul>

					</p>



				</div>
			</div>
			<div class="row">
				<div id="inferiorInfo" class="col">

					<p class="txtInfo" id="cualidades">
						 <i class="fa fa-align-justify" aria-hidden="true"></i>
						Descripción:<br /> <th:block th:text="${manitas.descripcion}"/>
					</p>



				</div>
			</div>


		</div>
		<div role="tabpanel" class="tab-pane fade" id="mensaje" th:if="${usuarioactivo!=null}">
			<form  action="/mensaje/crear" method="post">
	           <div class="row justify-content-center">	
					<div class="col-10">	
							 <div class="media-body">
							 		<input hidden="true" type="text" name="emaildestinatario" th:value="${manitas.email}"/>
		               				 <h5 class="font-weight-bold text-primary"><th:block th:text="${manitas.nombre}"/></h5>
			              				  <div class="form-group basic-textarea rounded-corners">
			                   				 <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" style="max-height: 150px;min-height: 50px" placeholder="Escribe tu mensaje..." name="mensaje"></textarea>
		               			 </div>
	
		            		</div>
					</div>
					<div class="col-10">	
							<button class="btn btn-outline-primary" style="margin-bottom: 30px"><span  class="fa fa-send"></span>Enviar mensaje</button>
					</div>
					
	           </div>
	           </form>	
		</div>
		<div role="tabpanel" class="tab-pane fade" id="valoracion">

			<div class="row valoracionRow" style="margin-bottom:0px;margin-top:0px">
				<div class="col-sm-6" id="rating">
					
						<h4>Valoración Media</h4>
						<th:block th:if="${!manitas.getOpiniones().isEmpty()}">
						<h2 class="bold padding-bottom-7">
							<th:block th:text="${manitas.mediaValoracionesString()}"/> <small>/ 5</small>
						</h2>
						
								<span class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
									 
								<i th:if="${manitas.mediaValoracionesDouble() >= 1.25 and 1.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 1.75 and 2 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 2}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${1.25 > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 2.25 and 2.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 2.75 and 3 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 3}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${2.25  > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    							
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 3.25 and 3.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 3.75 and 4 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() >= 4}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${3.25  > manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    									
    							<i th:if="${manitas.mediaValoracionesDouble() >= 4.25 and 4.75 >= manitas.mediaValoracionesDouble()}" class="fa fa-star-half-o" aria-hidden="true" style="color:orange;font-size:24px"></i>
    							<span th:if="${manitas.mediaValoracionesDouble() > 4.75 and 5 > manitas.mediaValoracionesDouble() }" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    							<span th:if="${manitas.mediaValoracionesDouble() == 5}" class="fa fa-star estrellaOpinion" ></span>
    							<i th:if="${4.25 >= manitas.mediaValoracionesDouble() }" class="fa fa-star-o" style="color:orange;font-size:24px"></i>
    						
    						</th:block>
							<th:block th:if="${manitas.getOpiniones().isEmpty()}">
							No hay valoraciones
							</th:block>
    									

					
				</div>
				<div class="col-sm-6" >
				<div class="rating-block">
					<h4>Opinión de los usuarios</h4>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								5 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-success progress-bar-striped"
									role="progressbar" aria-valuenow="5" aria-valuemin="0"
									aria-valuemax="5" style="width: 0%" id="progressPorcentaje5"></div>
							</div>
						</div>
						<div class="d-flex justify-content-center"
							style="margin-left: 10px;" id="progressBar5"><th:block th:text="${manitas.contarEstrellas(5)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								4 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-primary progress-bar-striped"
									role="progressbar" aria-valuenow="4" aria-valuemin="0"
									aria-valuemax="5" style="width: 0%" id="progressPorcentaje4"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;" id="progressBar4"><th:block th:text="${manitas.contarEstrellas(4)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								3 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-info progress-bar-striped"
									role="progressbar" aria-valuenow="3" aria-valuemin="0"
									aria-valuemax="5" style="width: 0%" id="progressPorcentaje3"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;" id="progressBar3"><th:block th:text="${manitas.contarEstrellas(3)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								2 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-warning progress-bar-striped"
									role="progressbar" aria-valuenow="2" aria-valuemin="0"
									aria-valuemax="5" style="width: 0%" id="progressPorcentaje2"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;" id="progressBar2"><th:block th:text="${manitas.contarEstrellas(2)}"/></div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="d-flex justify-content-center"
							style="width: 35px; line-height: 1;">
							<div style="height: 9px; margin: 5px 0;">
								1 <span class="fa fa-star"></span>
							</div>
						</div>
						<div class="justify-content-center" style="width: 180px;">
							<div class="progress" style="height: 9px; margin: 8px 0;">
								<div class="progress-bar bg-danger progress-bar-striped"
									role="progressbar" aria-valuenow="1" aria-valuemin="0"
									aria-valuemax="5" style="width: 0%" id="progressPorcentaje1"></div>
							</div>
						</div>
						<div class="pd-flex justify-content-center"
							style="margin-left: 10px;" id="progressBar1"><th:block th:text="${manitas.contarEstrellas(1)}"/></div>
					</div>
				</div>
				</div>
			</div>

		</div>
		<div role="tabpanel" class="tab-pane fade" id="comentarios">
			<div class="row">
				<div class="col-sm-12">
					<h3>Opiniones de los usuarios</h3>
					
					<div class="review-block ">
					<th:block  th:each="opinion:${manitas.opiniones}">
					
						<hr class="opinionHR" />
						<div class="row justify-content-center">
							<div class="col-4 nombreUsuario">

								<div class="review-block-name bold" th:text="${opinion.cliente.getNombreYApellidos()}">
								</div>
								<div class="review-block-date" th:text="${opinion.fecha}"></div>
							</div>
							<div class="col-7">
								<div class="review-block-rate">
										<span class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
									 
										<span th:if="${opinion.valoracion >= 2}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 2}" class="fa fa-star-o" style="color:orange"></i>
    						
    									
    									<span th:if="${opinion.valoracion >= 3}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 3}" class="fa fa-star-o" style="color:orange"></i>
    									
    									<span th:if="${opinion.valoracion >= 4}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 4}" class="fa fa-star-o" style="color:orange"></i>
    									
    									<span th:if="${opinion.valoracion >= 5}" class="fa fa-star estrellaOpinion" aria-hidden="true"></span>
    									<i th:unless="${opinion.valoracion >= 5}" class="fa fa-star-o" style="color:orange"></i>
    									
										<a type="button"  th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('administrador')}" th:href="${'/opinion/borrar?id='+opinion.id}" class="close">&times;</a>
								
								</div>
								<div class="review-block-title" th:text="${opinion.titulo}"></div>
								<div class="review-block-description" th:text="${opinion.comentario}"></div>
							</div>
							
							
						
						</div>
						</th:block>

					</div>
				</div>
			</div>
		</div>


		<div th:if="${usuarioactivo!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('cliente')}" role="tabpanel" class="tab-pane fade" id="añadirOpinion">
		<form th:action="${(opinionClienteManitas==null)?'/opinion/crear':'/opinion/modificar'}" method="post">
			<input th:if="${opinionClienteManitas!=null}" type="text" hidden="true" name="id" th:value="${opinionClienteManitas.id}"/>
			<div class="row justify-content-center" style="margin-bottom:0px;margin-top:0px">

				
				<div class="col-sm-6">
					<div class="rating-block">
						<h5>Seleccione su valoración</h5>
						<button type="button" class="btn btn-warning btn-sm"
							aria-label="Left Align" onclick="fijarColor(this)" id="boton1">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=2)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton2">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=3)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton3">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=4)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton4">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>
						<button type="button" th:class="${(opinionClienteManitas!=null and opinionClienteManitas.valoracion>=5)?'btn btn-warning btn-sm':'btn btn-default btn-grey btn-sm'}"
							aria-label="Left Align" onclick="fijarColor(this)"
							onmouseover="cambiarColor(this)" id="boton5">
							<span class="fa fa-star" aria-hidden="true"></span>
						</button>

					</div>
				</div>
				<div class="col-sm-6" id="rating">
					
						<input hidden="hidden" type="text" name="idmanitas" th:value="${manitas.id}"/>
						<input hidden="hidden" id="valoracionHidden" type="text" name="valoracion" th:value="${(opinionClienteManitas!=null)?opinionClienteManitas.valoracion:'1'}" />
						<h5>Resuma brevemente su experiencia</h5>
						<div class="d-flex justify-content-center">
					
							<textarea class="form-control opinion" id="titulo" rows="2" name="titulo" style="max-height: 100px;min-height:50px" th:text="${(opinionClienteManitas!=null)?opinionClienteManitas.titulo:''}"></textarea>
	
						</div>
						<h5>Escriba su opinión</h5>
						<div class="d-flex justify-content-center">
					
							<textarea class="form-control opinion" id="comentario" rows="4" name="comentario" style="max-height: 250px;min-height:50px" th:text="${(opinionClienteManitas!=null)?opinionClienteManitas.comentario:''}"></textarea>
	
						</div>
						
							
					
				</div>
			</div>
			<div class="row valoracion"  style="margin-top:0px">
				<div class="col-sm-12 divBotonOpinion">

					<button type="submit" class="btn btn-info " aria-label="Left Align" id="botonVotar" onclick="detectarEstrellas(this)">Enviar opinión</button>
					<a class="btn btn-info " th:if="${usuarioactivo!=null and opinionClienteManitas!=null and usuarioactivo.getClass().getSimpleName().toLowerCase().equals('cliente')}" th:href="${'/opinion/borrar?id='+opinionClienteManitas.id}" >Borrar</a>
								
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

