<form method="post" onsubmit="return validar(this)" name="registro">
	Selecciona el tipo de cuenta:
   
	 <select name="tipo" onChange="mostrar(this)">
        <option value="cliente">Cliente</option>
        <option value="manitas">Manitas</option>
     </select>

			<h6>Nombre:</h6>
			<input type="text" name="nombre"/><br/>
			<h6>Apellidos:</h6>
			<input type="text" name="apellidos"/><br/>
			<h6>Contraseña:</h6>
			<input type="password" name="passwordsin"/><br/>
			<h6>Email:</h6>
			<input type="email" name="email"/><br/>
			<h6>Direccion:</h6><!-- usar api google maps -->
			<input type="text" name="direccion"/> <br/>
			<h6>Telefono:</h6>
			<input type="text" name="telefono"/> <br/>
			<h6 style="display:none">Radio accion:</h6>
			<input type="number" name="radio" hidden="true" disabled="true"/><br style="display:none"/>
			<input type="text" name="password" hidden="hidden"/>

			<button>crear usuario</button>
</form>
		<script>
			function mostrar(camposelect){
				var form = camposelect.parentNode;
				console.log(form);
				if(camposelect.value=="manitas"){
					//cambiar h6 (children[16])
					form.children[21].style="";
					form.children[19].style="";
					form.radio.hidden=false;
					form.radio.disabled=false;
				}
				else {
					form.children[19].style="display:none";
					form.children[21].style="display:none";
					form.radio.hidden=true;
					form.radio.disabled=true;
				}
			}
		</script>