<form class="form-horizontal" role="form" method="POST" onsubmit="return validar(this)">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Inicie sesión</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" name="email" class="form-control" id="email" placeholder="Introduce su E-Mail" required="true" autofocus="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback" hidden="true">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> E-Mail incorrecto
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="passwordsin">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="passwordsin" class="form-control" id="password" placeholder="Introuce su contraseña" required="true"/>
                            <input type="text" name="password" hidden="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback" hidden="true">
                        <span class="text-danger align-middle">
                     	Contraseña incorrecta  
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input class="form-check-input" name="remember"
                                   type="checkbox"/>
                            <span style="padding-bottom: .15rem">Recordar</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info"><i class="fa fa-sign-in"></i> Entrar</button>
                    <a class="btn btn-link" href="">¿Olvidaste tu contraseña?</a> | <a class="btn btn-link" href="/login/crear">Registrate</a>
                </div>
            </div>
        </form>
