
<h1>Categorías</h1>
<hr/>
<div class="btn-group" role="group" style="width:100%;">
<a class="btn btn-info" id="botonRotatorio"
		onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/categoria/listar','GET',crearTablaCategoriaOEmpleo)"
		role="button" style="color: white;"><span class="fa fa-refresh"
		style="width: 1em;"></span></a> 
<a class="btn btn-info" href="" data-toggle="modal"
		data-target="#crear" style="margin-rigth: 0px;"><span
		class="fa fa-plus"></span></a>  
		<input class="form-control busqueda" type="text" placeholder="Busqueda.." style="border-radius: 0px 5px 5px 0px;"/>
</div>

<div id="tablaDatos" class="table-responsive">
	<table id="myTable" class="table table-striped">
	<thead>
		<tr>
			<th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a></th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody class="myTable">
		<tr th:each="categoria:${categorias}">
			<td th:text="${categoria.nombre}"></td>
			<td class="acciones"><!-- a
				th:href="${'/categoria/modificar?id='+categoria.id}"
				class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a -->
				
				<a class="btn btn-info" data-toggle="modal"
				th:href="'#modificarCategoria'+${categoria.id}" role="button"><span
					class="fa fa-pencil"></span></a> <!-- MODAL PARA MODIFICAR CATEGORIA -->
				<div class="modalesModificar modal fade" th:id="'modificarCategoria'+${categoria.id}"
					role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Modificar categoría</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<form class="form-horizontal" role="form" onsubmit="peticionAjax('/categoria/modificar','POST',resultadoOperacionCategoriaOEmpleo,this); return false;">
							<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group has-danger">
												<label class="sr-only" for="categoriaActual">Categoría
													actual</label>
												<div class="input-group mb-2 mr-sm-2 mb-sm-0">
													<div class="input-group-addon" style="width: 2.6rem">
														<i class="fa fa-pencil-square-o"></i>
													</div>
													<input type="hidden" name="id" th:value="${categoria.id}" />
													<input type="text" name="nombre" class="form-control"
														id="categoriaActual" th:value="${categoria.nombre}"
														required="true" autofocus="true" />
												</div>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="d-none d-md-block col-md-3 field-label-responsive">
										</div>
										<div class="col-md-12">
											<div id="errorNombre"
												class="form-control-feedback text-danger alert alert-danger align-middle"
												hidden="true">
												<span> Nombre no valido </span>
											</div>
											
										</div>
									</div>
									<div class="resultado" />
							</div>
							<div class="modal-footer">
									<button class="btn btn-info">Modificar</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							</div>
						</form>
						</div>

					</div>
				</div> 
				
				<!--  <a th:href="${'/categoria/borrar?id='+categoria.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a -->
				<a class="btn btn-info" data-toggle="modal" th:href="'#'+${categoria.id}" role="button">
					<span class="fa fa-trash"></span>
				</a> 
				<!-- MODAL PARA ELIMINAR CATEGORIA -->
				<div class="modal fade" th:id="${categoria.id}" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">¿Desea borrar esta categoría?</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
							<div class="resultado" />
							<form onsubmit="peticionAjax('/categoria/borrar','GET',resultadoOperacionCategoriaOEmpleo,this); return false">
							<input type="text" hidden="true" name="id" th:value="${categoria.id}"/>
							<button class="btn btn-info">Confirmar</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								</form>
								
							</div>
						</div>
					</div>
				</div>
				</td>
		</tr>
		
		</tbody>
	</table>
</div>


<!-- MODAL PARA CREAR CATEGORIA -->
<div class="modal fade" id="crear" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<h4 class="modal-title">Crear categoría</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form onsubmit="peticionAjax('/categoria/crear','POST',resultadoOperacionCategoriaOEmpleo,this); return false;" class="form-horizontal" role="form">
			
			<div class="modal-body">
				
					<div class="row">
						<div class="col-md-12">
							<div class="form-group has-danger">
								<label class="sr-only" for="categoriaNueva">Nombre</label>
								<div class="input-group mb-2 mr-sm-2 mb-sm-0">
									<div class="input-group-addon" style="width: 2.6rem">
										<i class="fa fa-pencil"></i>
									</div>
									<input type="text" name="nombre" class="form-control"
										id="categoriaNueva"
										placeholder="Introduzca una nueva categoría" required="true"
										autofocus="true" />
								</div>
							</div>
						</div>

					</div>
					<div class="row">

						<div class="col-md-12">
							<div id="errorNombre"
								class="form-control-feedback text-danger alert alert-danger align-middle"
								hidden="true">
								<span> Nombre no valido </span>
							</div>
							<div class="resultado" />
						</div>
					</div>
					
				

			</div>
			<div class="modal-footer">
				<button class="btn btn-info">Crear</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
			</form>
		</div>

	</div>
</div>




