<h1>Categorias
<a class="btn btn-info" id="botonRotatorio" onclick="this.children[0].className='fa fa-refresh fa-spin fa-fw';peticionAjax('/categoria/listar','GET',crearTablaCategoriaOEmpleo)" role="button" style="color:white;"><span class="fa fa-refresh" style="width: 1em;"></span></a>
<a class="btn btn-info" href="/categoria/crear" style="margin-rigth:0px;"><span class="fa fa-plus"></span> Crear</a>
</h1>
<div id="tablaDatos">
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Acciones</th>
	</tr>
	<tr th:each="categoria:${categorias}">
		<td th:text="${categoria.nombre}"></td>
		<td class="acciones">
			<a th:href="${'/categoria/modificar?id='+categoria.id}" class="btn btn-info" role="button"><span class="fa fa-pencil"></span></a>
			<a th:href="${'/categoria/borrar?id='+categoria.id}" onclick="return confirm('¿Desea borrarlo?')" class="btn btn-info" role="button"><span class="fa fa-trash"></span></a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/categoria/crear" class="btn btn-info" role="button" style="color:white;display:block">Crear</a>
		</td>
	</tr>
</table>
</div>