<form class="form-horizontal" role="form" onsubmit="peticionAjax('/categoria/modificar','POST',resultadoOperacionCategoriaOEmpleo,this); return false">
				<div class="row">
	                <div class="col-md-3"></div>
	                <div class="col-md-6">
	                    <h2>
	                    <a href="/categoria/listar" class="" style="color:black;"><span class="fa fa-arrow-left"></span></a>
	                    Modificar categoría</h2>
	                    <hr/>
	                </div>
                </div>
                <div class="row">
	                <div class="col-md-3"></div>
	                <div class="col-md-6">
	                    <div class="form-group has-danger">
	                        <label class="sr-only" for="categoriaActual">Categoría actual</label>
	                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-pencil-square-o"></i></div>
	                            <input type="hidden" name="id" th:value="${categoria.id}" />
	                            <input type="text" name="nombre" class="form-control" id="categoriaActual" th:value="${categoria.nombre}" required="true" autofocus="true"/>
	                        </div>
	                    </div>
	                    <div class="resultado"/>
	                </div>
	               
	            </div>
	            <div class="row">
        	<div class="d-none d-md-block col-md-3 field-label-responsive">
            </div>
        	<div class="col-md-6">
                <div id="errorNombre" class="form-control-feedback text-danger alert alert-danger align-middle" hidden="true">
                        <span>
                            Nombre no valido
                        </span>
                </div>
            </div>
        </div>
	            <div class="row">
	                <div class="col-md-3"></div>
	                <div class="col-md-6">
	                    <div class="form-group has-danger">
	                        <button class="btn btn-info"><span class="fa fa-save"></span> Modificar</button>
	                    </div>
	                </div>
	               
	            </div>
	</form>
